@import "tailwindcss";

@keyframes scrollXAlternate {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-170%);
  }
}
@keyframes scrollXAlternateBigScreen {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scrollXBigScreen {
  animation: scrollXAlternateBigScreen 10s ease-in-out infinite alternate;
}

.animate-scrollXSmallScreen {
  animation: scrollXAlternate 10s ease-in-out infinite alternate;
}

body {
  font-family: "Inter", sans-serif;
}
h1,
h2 {
  font-family: "Geist";
}
